@import "main.css";

.about-branch-bottom svg,
.about-branch-top svg {
    width: 100%;
    height: auto;
    max-width: 1435px;
}

header {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.hero {
    background-image: url('../images/index/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 1150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 0 20px;
}

.hero h1 {
    margin-top: 250px;
    font-size: 128px;
    color: white;
}

.hero p {
    font-size: 40px;
}

.book-btn {
    background-color: var(--lighter);
    color: white;
    width: 415px;
    height: 70px;
    font-size: 40px;
    border-radius: 50px;
    margin-top: 110px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.book-btn:hover {
    background-color: transparent;
    border-color: white;
}

.scroll-indicator {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
    z-index: 1;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) translateX(-50%);
    }
    40% {
        transform: translateY(-20px) translateX(-50%);
    }
    60% {
        transform: translateY(-10px) translateX(-50%);
    }
}

/* About Section */
.about {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    height: 1100px;
    position: relative;
    margin-top: 10px;
}

.about-header {
    position: absolute;
    transform: translateY(-99%);
    filter: none !important;
}

.about-container {
    display: flex;
    justify-content: space-between;
    margin-top: 165px;
    width: 1445px;
    z-index: 10;
    position: relative;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 810px;
    text-align: justify;
}

.about-text h2 {
    font-size: 96px;
    margin-bottom: 20px;
    color: #ffffff;
}

.about-text p {
    font-size: 32px;
    color: #ffffff;
    font-weight: 500;
}

.about-image {
    flex: 1;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-branch-bottom svg {
    position: absolute;
    right: 0;
    bottom: -25px;
    z-index: 0;
}

.about-branch-top svg {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 0;
    transform: rotate(180deg);
}

/* Slider Styles */
.slider-container {
    width: 575px;
    position: relative;
    margin-left: 40px;
}

.main-slider {
    width: 100%;
    height: 575px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: var(--lighter);
    box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.25);
}

.slider-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider-wrapper img.active {
    opacity: 1;
}

.slider-btn {
    position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
    transition: 0.1s;
    background: none;
}

.slider-btn img {
    width: 100%;
    height: 100%;
}

.prev-btn {
    left: 25px;
    transform: rotate(90deg) translateX(-50%);
}

.prev-btn:active {
    left: 15px;
}

.next-btn {
    right: 25px;
    transform: rotate(-90deg) translateX(50%);
}

.next-btn:active {
    right: 15px;
}

.thumbnail-slider {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.thumbnail-wrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 5px;
}

.thumbnail-wrapper img {
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.thumbnail-wrapper img:hover {
    opacity: 0.8;
}

.thumbnail-wrapper img.active {
    opacity: 1;
    border: 2px solid var(--lighter);
}

/* Advantages Section */
.advantages h2 {
    text-align: center;
    font-size: 96px;
    color: var(--text);
    padding-block: 65px;
}

.advantages-container {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    gap: 40px;
}

.advantage-item {
    width: 325px;
    height: 325px;
    position: relative;
    z-index: 100;
    cursor: pointer;
    transition: .2s ease;
}

.advantage-item:hover {
    transform: translateY(2%);
}

.advantage-content {
    background: var(--lighter);
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.advantage-content img {
    width: 100%;
    height: 100%;
}

.advantage-content h3 {
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    bottom: -40px;
}

.back-tail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    transform: translateY(15%);
    transition: 0.2s ease;
}

.advantage-back {
    background: var(--primary);
    border-radius: 30px;
    padding: 30px;
    height: 100%;
    text-align: center;
    transition: 0.2s ease;
}

.advantage-back p {
    color: #ffffff;
    font-size: 18px;
    margin-top: 105px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.advantage-tail {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 95px;
    z-index: 15;
    cursor: pointer;
    animation: 2s upDown infinite;
}

.advantage-tail svg {
    filter: none !important;
}

#delay150ms {
    animation-delay: 1.5s;
}

#delay250ms {
    animation-delay: 2.5s;
}

@keyframes upDown {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}

.advantage-tail .tail {
    width: 100%;
    height: auto;
}

.advantage-item.active .back-tail {
    transform: translateY(75%);
}

.advantage-item.active .advantage-back p {
    opacity: 1;
}

/* Cottages Section */
.cottages {
    margin-top: 280px;
    margin-inline: auto;
    padding: 80px 0;
    background-color: var(--background);
    max-width: 1800px;
}

.cottages-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    padding: 0 20px;
}

.cottages h2 {
    font-size: 96px;
    color: var(--text);
    text-align: center;
    padding-bottom: 35px;
}

.cottages-info {
    font-size: 32px;
    color: var(--text-light);
    opacity: 0.75;
    width: 526px;
    font-weight: 600;
}

.view-all {
    font-size: 32px;
    color: var(--text-light);
    font-weight: 600;
    opacity: 0.75;
    width: 275px;
    transition: 0.3s ease;
    position: relative;
}

.view-all svg {
    width: 70px;
    height: 25px;
    position: absolute;
    bottom: 8px;
    right: 55px;
    filter: none !important;
}

.view-all:hover {
    transform: scale(1.1);
}

.cottages-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.cottage-card {
    width: 575px;
    height: 655px;
    border-radius: 35px;
    transition: transform 0.3s ease;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.cottage-card:hover {
    transform: translateY(-10px);
}

.cottage-card:hover .cottage-button {
    right: 20px;
}

.cottage-info {
    display: flex;
    align-items: flex-end;
    padding: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 12;
}

.cottage-button {
    position: absolute;
    top: 28px;
    right: 28px;
    width: 50px;
    height: 50px;
    transition: 0.3s ease;
}

.cottage-button svg {
    width: 100%;
    height: 100%;
}

.cottage-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.people-info {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
}

.people-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 100%;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
}

.people-amount div {
    display: flex;
    align-items: center;
}

.people-amount div img {
    width: 30px;
    height: 30px;
}

.bed-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 100%;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
}

.more-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.more-info p {
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
}

.price {
    font-size: 20px !important;
    color: #BFBCB4 !important;
}

.price span {
    color: #ffffff;
}

.cottage-background-brightness {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.cottage-background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
    z-index: 9;
}

/* Map Section */
.map-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-inline: auto;
}

.map-container {
    width: 100vw;
    height: 95vh;
}

.map-container svg {
    width: 100%;
    height: 100%;
}

.map-section h2 {
    text-align: center;
    font-size: 96px;
    color: var(--text);
}

footer {
    margin-top: 70px;
}

.footer-container {
    margin-top: 0;
}